name: Integration test

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - refs/tags/*
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SPRING_PROFILES_ACTIVE: test
      LEV_ACCESS_TOKEN_URI: ${{ secrets.ACCESS_TOKEN_URI }}
      LEV_CLIENT_ID: ${{ secrets.LEV_CLIENT_ID }}
      LEV_CLIENT_SECRET: ${{ secrets.LEV_CLIENT_SECRET }}
      LEV_USERNAME: ${{ secrets.LEV_USERNAME }}
      LEV_PASSWORD: ${{ secrets.LEV_PASSWORD }}
      LEV_BEARERTOKEN_USERNAME: ${{ secrets.LEV_USERNAME }}
      LEV_BEARERTOKEN_PASSWORD: ${{ secrets.LEV_PASSWORD }}
      LEV_PRIVATE_KEY: ${{ secrets.LEV_PRIVATE_KEY }}
      LEV_PUBLIC_CERTIFICATE: ${{ secrets.LEV_PUBLIC_CERTIFICATE }}
      LEV_DEATH_URL: ${{ secrets.LEV_DEATH_URL }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Debug cert length
        run: |
          echo "Cert length: ${#LEV_PUBLIC_CERTIFICATE}"

      - name: Debug key length
        run: |
          echo "Key length: ${#LEV_PRIVATE_KEY}"

      - name: Build
        run: ./gradlew check

      - name: Integration test
        run: ./gradlew integration